.casino-games {
    padding: 3rem 0;

    &__h2 {
        color: var(--color-second);
    }

    max-width: 1280px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;

    &__layout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        
        @include from(l){
            flex-direction: row; 
        }
    }

    &__layout--col1 {
        width: 100%;
        @include from(l) {
            width: 70%;
        }
    }

	&__layout--card-img {
		max-width: 200px;
		min-width: 90px;
		width: 100%;
	}
    
    &__layout--col2 {
        width: 100%;
		padding: 0rem 0 2rem 0;
        background-color: #05380f;
        @include from(l) {
            width: 25%;
        }
    }

    &__layout--h3 {
        // background-color: #4ab75c;
        font-size: var(--small-font-size);
		align-items: center;
		text-align: center;
		max-height: 100px;
		height: 100%;

        @include from(l) {
            font-size: var(--normal-font-size );
        }
    
    }

    &__layout--card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__layout--title {
        background-color: #4ab75c;
        text-align: center;
        color: var(--color-background);
        font-weight: bold;
        padding: 0.5rem 0;
    }

    &__layout--imgs {
        padding: 0 1rem;
        row-gap: 2rem;
    }
}
