mixin list(item, link)
	li(class='top-nav__li'): a(href=link, class='top-nav__anchor')=item


nav(class='bottom-nav display-menu-footer')
	div(class='bottom-nav__container')
		ul(class='bottom-nav__bar')
			li(class='bottom-nav__li')
				button(type='button', aria-label="hamburguer menu" class='top-nav__mb-iconMenu hamburger hamburger--slider-r bottom-nav__hamburguer') 
					span.hamburger-box
						span.hamburger-inner
				ul(class='bottom-nav__menu--ham')
					-for(var i = 0; i < menuMobile.length ; i++)
						-var item = menuMobile[i]
						+list(item.item, item.link)
				span Menu
