div(class='accordion-container ed-grid')
	.accordion
		.accordion__header.accordion__outline#heading1 Fútbol Americano
			span.accordion__span
		.accordion__content#content1
			include:markdown-it(html) ../md/futbol-americano.md

		.accordion__header.accordion__outline#heading2 Baloncesto
			span.accordion__span
		.accordion__content#content2 
			include:markdown-it(html) ../md/basketball.md

		.accordion__header.accordion__outline#heading3 Béisbol
			span.accordion__span
		.accordion__content#content3 
			include:markdown-it(html) ../md/baseball.md

		.accordion__header.accordion__outline#heading4 Hockey
			span.accordion__span
		.accordion__content#content4
			include:markdown-it(html) ../md/hockey.md
			
		.accordion__header.accordion__outline#heading5 Fútbol
			span.accordion__span
		.accordion__content#content5
			include:markdown-it(html) ../md/soccer.md
			
		.accordion__header.accordion__outline#heading6 Golf
			span.accordion__span
		.accordion__content#content6
			include:markdown-it(html) ../md/golf.md
			
		.accordion__header.accordion__outline#heading7 Boxeo - Mixed Martial Arts (MMA) - UFC
			span.accordion__span
		.accordion__content#content7
			include:markdown-it(html) ../md/boxeo.md
			
		.accordion__header.accordion__outline#heading8 Tenis
			span.accordion__span
		.accordion__content#content8
			include:markdown-it(html) ../md/tennis.md
			
		.accordion__header.accordion__outline#heading9 Autoracing
			span.accordion__span
		.accordion__content#content9
			include:markdown-it(html) ../md/autoracing.md
			
		.accordion__header.accordion__outline#heading10 Reglas Generales de Props
			span.accordion__span
		.accordion__content#content10
			include:markdown-it(html) ../md/prop-rules.md
			
		.accordion__header.accordion__outline#heading11 Apuestas Live In-Game Lines
			span.accordion__span
		.accordion__content#content11
			include:markdown-it(html) ../md/live-games.md
			
		.accordion__header.accordion__outline#heading12 Tarjetas Parlay
			span.accordion__span
		.accordion__content#content12
			include:markdown-it(html) ../md/parlay-cards.md
			
		.accordion__header.accordion__outline#heading13 Rugby
			span.accordion__span
		.accordion__content#content13
			include:markdown-it(html) ../md/rugby.md
			
		.accordion__header.accordion__outline#heading14 Reglas Australianas
			span.accordion__span
		.accordion__content#content14
			include:markdown-it(html) ../md/live-games.md
			
		.accordion__header.accordion__outline#heading15 Tarjetas Parlay
			span.accordion__span
		.accordion__content#content15
			include:markdown-it(html) ../md/parlay-cards.md
			
		.accordion__header.accordion__outline#heading16 Rugby
			span.accordion__span
		.accordion__content#content16
			include:markdown-it(html) ../md/rugby.md
			
		.accordion__header.accordion__outline#heading17 Reglas Australianas
			span.accordion__span
		.accordion__content#content17
			include:markdown-it(html) ../md/australian-rules.md
			
		.accordion__header.accordion__outline#heading18 Cricket
			span.accordion__span
		.accordion__content#content18
			include:markdown-it(html) ../md/cricket.md
			
		.accordion__header.accordion__outline#heading19 Olympic Rules
			span.accordion__span
		.accordion__content#content19
			include:markdown-it(html) ../md/olympic-rules.md
			
		.accordion__header.accordion__outline#heading20 E-sports
			span.accordion__span
		.accordion__content#content20
			include:markdown-it(html) ../md/esports-rules.md
			
		.accordion__header.accordion__outline#heading21 Volleyball
			span.accordion__span
		.accordion__content#content21
			include:markdown-it(html) ../md/volleyball-rules.md
			
		.accordion__header.accordion__outline#heading22 Water Polo
			span.accordion__span
		.accordion__content#content22 
			include:markdown-it(html) ../md/water-polo.md
			
