div(class='container-bonuses')
	div(class='container-bonuses__content') 
		h2(class='container-bonuses__content--h2') Bonos y promociones
		p(class='container-bonuses__content--p') Registrarse ahora y obtener codigo
	div(class='tns-carousell' id='tnsCarousell')
		include ../config/utilis/img-card
		



