div(class='main-banner')
	div(class='main-banner-container')
		div(class="main-banner-main-container")
				div(class='tns-single' aria-hidden="true" id='tnsSingleBanner')
					div
						div(class="card-banner")
							div(class="main-banner-button")
								h2 JUEGA
								h3 APUESTA & DIVIÉRTETE
								a(href="registro.html" class="grid__content--anchore btn btn__main-banner") ¡ÚNETE AHORA!
							div(class="main-banner-img")
								img(src="assets/img/Player_1.png", alt="main banner img")
					div
						div(class="card-banner")
							div(class="main-banner-button")
								h2 JUEGA
								h3 APUESTA & DIVIÉRTETE
								a(href="registro.html" class="grid__content--anchore btn btn__main-banner") ¡ÚNETE AHORA!
							div(class="main-banner-img")
								img(src="assets/img/Player_1.png", alt="main banner img")
					div 
						div(class="card-banner") 
							div(class="main-banner-button")
								h2 JUEGA
								h3 APUESTA & DIVIÉRTETE
								a(href="registro.html" class="grid__content--anchore btn btn__main-banner") ¡ÚNETE AHORA!
							div(class="main-banner-img")
								img(src="assets/img/Player_1.png", alt="main banner img")
					div
						div(class="card-banner") 
							div(class="main-banner-button")
								h2 JUEGA
								h3 APUESTA & DIVIÉRTETE
								a(href="registro.html" class="grid__content--anchore btn btn__main-banner") ¡ÚNETE AHORA!
							div(class="main-banner-img")
								img(src="assets/img/Player_1.png", alt="main banner img")
		div(class="main-banner-steps")
			div(class="main-banner-steps-step")
				h2 1.
				div(class="text-container")
					h3 REGÍSTRATE
					p ES TOTALMENTE GRATIS Y MUY FÁCIL
			div(class="main-banner-steps-step")
				h2 2.
				div(class="text-container")
					h3 APUESTA
					p INCREÍBLE OFERTA DE EVENTOS DEPORTIVOS
			div(class="main-banner-steps-step")
				h2 3.
				div(class="text-container")
					h3 GANA
					p RECIBE INCREÍBLES BENEFICIOS
