extends ../config/template
append config
	-currentPage		= "inicio"
	-siteName			= 'WinBet'
	-content			= 'content'
	-pageDescription	= 'sitio de WinBet'
block main-header
block main-container
	include ../components/tns-single
	include ../components/grid-games
block main-footer
block scripts
