extends ../config/template
append config
	-currentPage		= "ingresar"
	-siteName			= 'WinBet'
	-content			= 'content'
	-pageDescription	= 'sitio de WinBet'
block main-header
block main-container
	include ../components/login-form
block main-footer
block scripts
