extends ../config/template
append config
	-currentPage		= "Registro"
	-siteName			= 'WinBet'
	-content			= 'content'
	-pageDescription	= 'sitio de WinBet'
block main-header
block main-container
	<iframe width="100%" height="1150px" id="iframe-registro-page" class="cs-iframe-registro-page" src="https://apuestas.winbet.com.mx/registro " title="iframe-registro"></iframe>
block main-footer
block scripts
