block config
	include utilis/vars
doctype html
html(lang='es' prefix='og: http://ogp.me/ns#', class='no-js')
	head
		include utilis/metatags
		include utilis/metaTagsPWA
		script(src="https://kit.fontawesome.com/20f3c29ee8.js" crossorigin="anonymous")
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css')
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		link(rel="stylesheet" href="assets/css/styles.css")
		title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
		body(class=currentPage overlay, itemscope itemtype="http://schema.org/WebPage")
			//-here start the Main Header
			header(class='main-header')
				include ../components/top-nav
				block main-header
			//-here ends the Main Header
			//-here start the Main Container
			main(class='main-container')
				block main-container
			//-here ends the Main Container
			//-here start the Main Footer
			footer(class='main-footer')
				include ../components/footer
				include ../components/bottom-nav
			div(class="main-footer__bottom")
				div(class="lincense-footer")
					div(class="lincense-footer-container")
						p(class="lincense-footer__bottom--p") Se hace referencia al escrito presentado en la oficialía de partes de la Dirección  General de Juegos y Sorteos el 04 de enero de 2023 con número de folio 0064, por medio del cual solicita autorizar el inicio de operaciones del sitio de internet http://www.winbet.com.mx.  por Io que remite para tal efecto la documentación que más adelante se describe. Establecido lo anterior, esta Autoridad Administrativa señala los siguientes antecedentes:
						ul 
							li(class="lincense-footer__bottom--p") La Dirección General de Juegos y Sorteos de la Secretaria de Gobernación mediante oficio DGJS/SAAJ/1845/2012  otorgó a la persona moral Juegos y Sorteos de Jalisco SA de CV el permiso número DCJS/P-02/2012, cuya vigencia es del 29 de noviembre de 2012 al 28 de noviembre de 2037.
							li(class="lincense-footer__bottom--p") Por oficio DGJS/DGAJ/DEV/O562/2013 de fecha 17 de julio de 2013, la Dirección General de Juegos y Sorteos autorizó a la permisionaria Juegos y Sorteos de Jalisco, SA de CV a la captación apuestas por internet a través de las máquinas,  sistemas, plataformas y tecnologías.
				p(class="main-footer__bottom--p") CopyRight ©2023 winbet.com.mx Todos los derechos reservados.
				block main-footer
			//-here ends the Main Footer
			script(src="https://images.betimages.com/Betslip/js/quick.login.min.js")
			script(src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js')
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
			script(src="assets/js/scripts-min.js")
			block scripts
